#container {
    border: 1px solid black;
    width: 1000px;
    height: 1000px;
    display: flex;
}

.row {
    display: flex;
    flex-direction: column;
}

.col {
    border: 1px solid red;
} 

.row, .col {
    flex-grow: 1;
}

